name: Build, package and push www site OCI image

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build-push:
    name: Build and push www site
    uses: codesmithcloud/ci/.github/workflows/multi-platform-oci-build.yml@main
    secrets: inherit
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    with:
      context: ./
